@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #2597f4;
  border-radius: 5rem;
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: #334;
}

.heading span {
  color: #2597f4;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #334;
  border: 0.2rem solid #334;
}

.btn:hover {
  background: #2597f4;
  border-color: #2597f4;
  color: #fff;
}

.header .contact-info {
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #2597f4;
}

.header .contact-info a, p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.header .contact-info  i {
  padding-right: .2rem;
  color: hsl(59, 94%, 55%);
}

.header .navbar {
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-bottom: 0.2rem solid #334;
  position: relative;
  z-index: 1000;
}

.header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .navbar .logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: cursive;
  color: #334;
  font-weight: bolder;
}

.header .navbar .logo i {
  color: #2597f4;
}

.header .navbar .links a {
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}

.header .navbar .links a:hover {
  text-decoration: underline;
  color: #2597f4;
}

.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #334;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .image img {
  width: 100%;
  border-radius: 3rem;

}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: #334;
}

.home .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}

.fun-fact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  background: #f5f5f5;
  gap: 3.5rem;
}

.fun-fact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.fun-fact .box img {
  height: 10rem;
}

.fun-fact .box h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #334;
}

.fun-fact .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding-top: .5rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 3rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
  border-radius: 2rem;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 2.7rem;
  text-transform: capitalize;
  color: #334;
  padding-bottom: .5rem;
}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
}


.services {
  background: #fff;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #334;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  border-radius:4rem;
}


.services .box-container .box img {
  height: 7rem;
  margin-bottom: .3rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
  padding: 0.4rem 0;
}

.services .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.gallery .gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.gallery .gallery-container .box {
  height: 25rem;
  overflow: hidden;
}

.gallery .gallery-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facilities {
  background: #f5f5f5;
}

.facilities .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.facilities .box-container .box {
  background: #fff;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #334;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.facilities .box-container .box:hover {
  background: #334;
}


.facilities .box-container .box:hover p {
  color: #fff;
}

.facilities .box-container .box img {
  width: 25rem;
  height: 15rem;
  margin-bottom: .5rem;
}

.facilities .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}

.facilities .box-container .box p {
  font-size: 1.4rem;
  line-height:1.7;
  color: #000;
}

.team .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team .box-container .box {
  overflow: hidden;
  text-align: center;
}

.team .box-container .box:hover .content {
  margin-bottom: 0;
}

.team .box-container .box img {
  width: 100%;
}

.team .box-container .box .content {
  padding: 2rem;
  margin-bottom: -7rem;
}

.team .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
}

.team .box-container .box .content p {
  font-size: 1.4rem;
  line-height: 2;
  color: #777;
  padding: .5rem 0;
}

.team .box-container .box .content .share {
  margin-top: 1.5rem;
}

.team .box-container .box .content .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  margin: 0 .3rem;
  background: #334;
  color: #fff;
}

.team .box-container .box .content .share a:hover {
  background: #2597f4;
}

.reviews {
  background: #f5f5f5;
}

.reviews .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.reviews .box-container .box {
  text-align: center;
  padding: 3rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #334;
}

.reviews .box-container .box:hover {
  background: #334;
}

.reviews .box-container .box:hover .text p {
  color: #fff;
}

.reviews .box-container .box:hover .user h3 {
  color: #fff;
}

.reviews .box-container .box .star i {
  color: #2597f4;
  font-size: 1.7rem;
}

.reviews .box-container .box .text {
  position: relative;
  z-index: 0;
  padding: 1.5rem 0;
}

.reviews .box-container .box .text i {
  font-size: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: .3;
  color: #2597f4;
}

.reviews .box-container .box .text p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.reviews .box-container .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.reviews .box-container .box .user h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #334;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  border: 0.2rem solid #334;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #334;
  padding-bottom: 1rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input, .contact .row form textarea {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  margin: .7rem 0;
  border: 0.2rem solid #334;
}

.contact .row form .inputBox input:focus, .contact .row form textarea:focus {
  background: #334;
  color: #fff;
}

.contact .row form .inputBox input:focus::-webkit-input-placeholder, .contact .row form textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus:-ms-input-placeholder, .contact .row form textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::-ms-input-placeholder, .contact .row form textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::placeholder, .contact .row form textarea:focus::placeholder {
  color: #fff;
}

.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.footer {
  background: #fff;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #334;
  padding: 1rem 0;
}

.footer .box-container .box .link {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.footer .box-container .box .link i {
  padding-right: .5rem;
  color: #2597f4;
}

.footer .box-container .box .link:hover {
  color: #2597f4;
}

.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  padding: .5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.footer .box-container .box p span {
  color: #2597f4;
}

.footer .box-container .box .email {
  width: 100%;
  border: 0.2rem solid #334;
  padding: 1.6rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  margin: 1rem 0;
}

.footer .box-container .box .share {
  margin-top: 2rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #334;
  color: #fff;
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #2597f4;
}

.footer .credit {
  font-size: 2rem;
  text-transform: capitalize;
  color: #334;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.2rem solid #334;
  text-align: center;
}

.footer .credit span {
  color: #2597f4;
}

@media (max-width: 1200px) {
  .header .contact-info {
    padding: 2rem 5%;
  }
  .header .navbar {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .contact-info {
    padding: 2rem;
  }
  .header .navbar {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }

}

@media (max-width: 768px) {
  .header .contact-info {
    display: none;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 2.5rem;
  }
  .fun-fact {
    padding: 5rem 2rem;
  }
  .fun-fact .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
  .heading {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */

.contact { 
  width: calc(35%-60px);
  margin-right: 0 !important;
}
.contact .info { 
  position: relative;
}
.contact .info li { 
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) { 
 color: #fff;
 font-size: 20px;
 margin-right: 10px;
}

.contact .info li span { 
  color: rgb(0, 0, 0);
  font-size: 21px;
}
.contact .info li span a { 
  color: #2597f4;
  font-size: 19px;
}
.contact .info li p a { 
  color: #000;
  font-size: 21px;
}
.contact .info li li:hover { 
  color: rgb(185, 35, 35);
}

/* blogs */
.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border-radius: .5rem;
  overflow: hidden;
}
.blogs .box-container .box h1 { 
  font-size: 2.2rem;
}

.blogs .box-container .box:hover .image h3 {
  left: 1.5rem;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box .image {
  position: relative;
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image h3 {
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: -100%;
  border-radius: .5rem;
  padding: .5rem 1rem;
  background: #fff;
  color: #130f40;
  font-size: 1.5rem;
}

.blogs .box-container .box .image h3 i {
  padding-right: .5rem;
  color: #2597f4;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  padding: .5rem 1.5rem;
  background: #f7f7f7;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.blogs .box-container .box .content p {
  font-size: 1.4rem;
  color: #000;
  padding: 1rem 0;
  line-height: 2;
}
/* reservation */

 .footer input, 
select{
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid #111;
}
 .footer input::placeholder
select::placeholder{
  color: #2597f4;
}

 .footer textarea { 
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid #111;
  display: block;
  resize: vertical;
  background-attachment: local;
}


textarea::-webkit-scrollbar{
  width: 1em;
}

 .footer .oraliq { 
  display: flex;
  width: 290px;
}
 .footer .oraliq input { 
  width: 143px;
}
 .footer .oraliq #zip1 { 
  margin-left: 4px;
}
 .footer #hearus { 
  background: #9dcffa;
  margin-top: 1.9rem;
}
 .footer #movesize, #storage { 
  background: #9dcffa;
}

.footer  #addinfo { 
  height: 130px;
  min-height: 50px;
}
.footer #defaultCheck1 { 
  width: 17px;
  height: 12px;
}
.footer .terms { 
  color: red;
  font-weight: bold;
  text-decoration: double;
}
.footer #submit { 
  border: 1px solid #2597f4;
  margin-top: 2rem;
}
.footer #sumbit:hover { 
  color: #000;
  background-color: #2597f4;
}


/* mm */
.modal { 
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.modal:target { 
  visibility: visible;
  opacity: 1;
}
.modalcontent { 
  position: relative;
  max-width:50rem;
  /* max-height: 20rem; */
  background: #fff;
  max-width: 90%;
  padding: 1em 2em;
  border-radius: 4px;
}
.modalclose { 
  position: absolute;
  top: 1px;
  right: 15px;
  color:#0b0220;
  text-decoration: none;
  font-size: 35px;
}
.modal-title { 
  text-align: center;
    font-size: 36px;
    line-height: 38px;
    color: #2597f4;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
    margin: 0 0 6px 0;
}
.modal-body { 
  padding: 20px 65px 39px 65px;
  color: #6C6A6A;
  font-size:15px proxima_nova;
}
.modal-body ul li { 
  padding: 0 0 25px;
}